@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-spinner {
  position: fixed;
  height: 100vh;
  left: 50%;
  top: 50%;
  z-index: 99;
  background-color: transparent;
  text-align: center;
  padding: 20px;

  .loader-text {
    display: block;
    font-size: 14px;
    color: #109856;
  }
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 98;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: rgba(25, 25, 212, 0.78) rgba(25, 25, 212, 0.78) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent rgba(25, 25, 212, 0.78) rgba(25, 25, 212, 0.78);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: rgba(25, 25, 212, 0.78) rgba(25, 25, 212, 0.78) transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}